{% load static%}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portf </title>
    <link rel="icon" type="image/x-icon" href="./Images/favicon.jpeg">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>`
    
    <!-- Navbar Section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Portfolio</h2>
        </div>
        <div class="right-nav">
            <ul class="flex">
                <li><a href="#home" class="t-white roboto">Home <i class="fa-solid fa-house"></i></a></li>
                <li><a href="/about" class="t-white roboto">About Me <i class="fa-solid fa-user"></i></a></li>
                <li><a href="/skills" class="t-white roboto">Skills <i class="fa-solid fa-code"></i></a></li>
                <li><a href="/project" class="t-white roboto">Projects <i class="fas fa-project-diagram"></i></a></li>
                <li><a href="/contact" class="t-white roboto">Contact <i class="fa-solid fa-rocket"></i></a></li>
                {% comment %} <a href="/about"><i class="fa-solid fa-trash"></i></a> {% endcomment %}

            </ul>
        </div>
    </nav>
    <section id="skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
        <div class=" skills-left flex s-center items-center">
            <img src="{%static 'images/pro.png'%}" alt="">
        </div>

        <div class="skills-right flex items-center">
            <div class="skillss-container">
                <div class="java bar p-relative"><span class="bar-content left t-white">Python </span><span
                        class="bar-content right-skills t-white">80%</span></div>
                <div class="html bar p-relative"><span class="bar-content left t-white">Django </span><span
                        class="bar-content right-skills t-white">70%</span></div>
                <div class="css bar p-relative"><span class="bar-content left t-white">Html</span><span
                        class="bar-content right-skills t-white">50%</span></div>
                <div class="js bar p-relative"><span class="bar-content left t-white">Css</span><span
                        class="bar-content right-skills t-white">50%</span></div>
                <div class="python bar p-relative"><span class="bar-content left t-white">Bootstrap</span><span
                        class="bar-content right-skills t-white">50%</span></div>
                <div class="mysql bar p-relative"><span class="bar-content left t-white">MySQL</span><span
                        class="bar-content right-skills t-white">60%</span></div>        
            </div>
        </div>
        </div>
        
    </section>